@use 'variables' as v;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: v.$background_color;
  @media (max-width: 600px) {
    width: 100%;
  }
}
